{% load mezzanine_tags %}
{% load humanize %}

<article class="col-sm-6">
	<div class="panel panel-default product-panel">
		<div class="panel-body">
			<h2 class="product-title">
				<a href="{{ product.get_absolute_url }}" title="{{ product.title }}">
					{{ product.title }}
				</a>
			</h2>
			<p>{{ product.description | truncatewords:10 }}</p>
		</div>
		<a href="{{ product.get_absolute_url }}" title="{{ product.title }}">
			<img src="{{ MEDIA_URL }}{% thumbnail product.image 500 300 %}" class="img-responsive">
		</a>
		<div class="panel-body">
			<p class="star-rating 5">
				<span>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				</span>
				<span class="pull-right">
					<strong>(0) REVIEWS</strong>
				</span>
			</p>
			{% if product.price %}
			<h2><span>{{ product.default_variation }}</span> <span class="price_color">Ksh {{ product.price | intcomma }}</span></h2>
			<hr/>
			<button class="btn btn-action btn-block">ADD TO CART</button>
			{% endif %}
		</div>
	</div>
</article>