{% load mezzanine_tags %}
{% load humanize %}

<article class="col-sm-6 product-item">
	<a  href="{{ product.get_absolute_url }}" title="{{ product.title }}">
	<div class="panel product-panel">
		<div class="panel-body">
			<h2 class="product-title">
					{{ product.title }}
			</h2>
			<p>{{ product.description | truncatewords:10 }}</p>
		</div>
			<img src="{{ MEDIA_URL }}{% thumbnail product.image 500 300 %}" class="img-responsive">
		<div class="panel-body">
			{% if product.price %}
				{% if product.default_variation %}
				<p class="options text-center">- Available Options -</p>
				{% endif %}
				{% for variation in product.variations.all %}
					<h3 class="options"><span>{{ variation }}</span><span class="price_color pull-right">KSH {{ variation.unit_price | intcomma }}</span></h3>
				{% endfor %}
			{% else %}
			<h4 class="unavailable">Unavailable at the moment.</h4>
			{% endif %}
		</div>
	</div>
	</a>
</article>