{% extends "base.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load pages_tags %}

{% block extra_css %}
  <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "css/owl.theme.css" %}" rel="stylesheet" media="screen">
{% endblock extra_css %}

{% block wrap_content %}
<div id="tf-home" class="slider">
  <div class="overlay">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for slide in slides %}
        <li data-target="#carousel-example-generic" data-slide-to="{% if slide.index == 0 %}index{% endif %}" class="active"></li>
        {% endfor %}
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for slide in slides %}
        <div class="item {% if slide.index == 0 %}active{% endif %}">
          <img src="{{ MEDIA_URL }}{% thumbnail slide.image 1028 500 %}" class="img-responsive" style="width:100%;">
          <div class="carousel-caption">
           <div class="content-heading text-center"> 
            <h1>DelioFood, GOod food tastes better with company.</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur ...</h3>
            <a href="#" class="btn btn-lg btn-action">Order Now</a>
          </div>
        </div>
        <div class="carousel-caption">
          <p></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
</div>

<section id="menus" class="content-section-b">
  <div class="container">
    {% page_menu "pages/menus/listing.html" %}
  </div>
</section>
<section class="content-section-a">
  <div class="container">
   <h1 class="text-center fancy-title">How <span>It Works</span></h1>
   <hr class="fancy-title-hr"/>
   <div class="how-it-works">
    <div class="col-sm-4">
      <h1>- 1 -</h1>
      <h3>Get together</h3>
      <p>Choose <strong>anything</strong> from our selection of awesome menus and order it.</p>
    </div>
    <div class="col-sm-4">
      <h1>- 2 -</h1>
      <h3>The Magic</h3>
      <p>Our <strong>chefs</strong> will chop, dice and perform their magic to make your group meal.</p>
    </div>
    <div class="col-sm-4">
      <h1>- 3 -</h1>
      <h3>Delivery</h3>
      <p>When its ready, a delivery of your meal will be made. <strong>Share and Enjoy</strong>.</p>
    </div>
  </div>
</div>
</section>
<section class="content-section-b">
  <div class="container contact">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="title">Contact <span>Information</span></h1>
      <hr class="fancy-title-hr"/>
      <h3>Talk to us incase of any questions or requests.</h3>
      <p><strong><i class="fa fa-phone"></i> Phone</strong>: 0700 000 000</p>
      <p><strong><i class="fa fa-at"></i> Email</strong>: support@deliofood.com</p>
      <h4 class="heading"><span>Hours</span><h4>
        <p><strong>Monday - Friday</strong>: 10am - 6pm</p>
        <p><strong>Saturday - Sunday</strong>: Best not to ask.</p>
      </div>
    </div>
  </section>
  {% endblock wrap_content %}

  {% block hr_border %}{% endblock hr_border %}
  <div class="intro-header">
    <div class="container">
      <div class="col-sm-4 col-sm-offset-8">
        <div class="intro-panel">
          <h1>Hello Yay!!!</h1>
          <p>blah blah blah blah<p>
            <a href="#" class="btn btn-lg btn-action">Order Now <i class="fa fa-arrow-right"></i></a>      
          </div>
        </div>
      </div>
    </div>