{% extends "base.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load pages_tags %}

{% block wrap_content %}
<div class="intro-header">
  <div class="dark-overlay">
    <div class="container">
      <div class="intro-message">
        <div class="col-md-8">
          <h1>Indulge yourselves, It's Delicious</h1>
          <hr align="left" class="fancy-title-hr"/>
          <h3>Order Online: 5 Star <strong>group meals</strong>.</h3>
          <h4><em>It's affordable and you get to share.</em></h4>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>

<section id="menus" class="content-section-c">
  <div class="container">
    <div class="row">
     <h1 class="text-center fancy-title">Group <span>Events</span></h1>
     <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center"><em>For your group events and occasions, here's what we provide for a stress free <strong>5 Star</strong> dining experience.</em></h3>
      <hr class="fancy-title-hr"/>
    </div>
  </div>
  <div class="row">
    {% page_menu "pages/menus/listing.html" %}
  </div>
</div>
</section>
<section class="content-section-f">
  <div class="container">
   <h1 class="text-center fancy-title">How <span>It Works</span></h1>
   <hr class="fancy-title-hr"/>
   <div class="how-it-works">
    <div class="col-sm-4">
      <h1>- 1 -</h1>
      <h3>Get together</h3>
      <p>Choose <strong>anything</strong> from our selection of awesome menus and order it.</p>
    </div>
    <div class="col-sm-4">
      <h1>- 2 -</h1>
      <h3>The Magic</h3>
      <p>Our <strong>chefs</strong> will chop, dice and perform their magic to make your group meal.</p>
    </div>
    <div class="col-sm-4">
      <h1>- 3 -</h1>
      <h3>Delivery</h3>
      <p>When its ready, a delivery of your meal will be made. <strong>Share and Enjoy</strong>.</p>
    </div>
  </div>
</div>
</section>
<section class="content-section-a">
  <div class="container contact">
    <div class="col-sm-6 col-sm-offset-3">
      <h4 class="heading"><span>Delivery Hours</span><h4>
        <h3>We make deliveries during these time windows.</h3>
        <hr class="fancy-title-hr"/>
        <p><strong>Monday - Friday</strong>: 10am - 6pm</p>
        <p><strong>Saturday - Sunday</strong>: Best not to ask.</p>
      </div>
    </div>
  </section>
  <section class="content-section-e">
    <div class="overlay">
      <div class="container">
        <div class="content">
          <h1><em>Checkout Our <strong>Frequently Asked Questions</strong> for more information.</em></h1>
          <a href="{% url 'faqs' %}" class="btn btn-default btn-lg">Go To FAQs</a>
        </div>
      </div>
    </div>
  </section>
  <section class="content-section-b">
    <div class="container contact">
      <div class="col-sm-6 col-sm-offset-3">
        <h1 class="fancy-title">Contact <span>Information</span></h1>
        <h3>Talk to us incase of any questions or requests.</h3>
        <hr class="fancy-title-hr"/>
        <p><strong><i class="fa fa-phone"></i> Phone</strong>: 0700 000 000</p>
        <p><strong><i class="fa fa-at"></i> Email</strong>: support@deliofood.com</p>
      </div>
    </div>
  </section>

  {% endblock wrap_content %}

  {% block hr_border %}{% endblock hr_border %}