{% extends "base.html" %}

{% load staticfiles %}
{% load pages_tags %}

{% block wrap_content %}
<div class="intro-header">
  <div class="overlay">
    <div class="container">
      <div class="intro-message">
        <div class="col-md-7">
          <h1><strong>Good food</strong> tastes better with <strong>Company.</strong></h1>
          <h3>Order in meals as a <strong>group</strong>, we'll deliver.</h3>
          <h4><em>It's affordable and you get to share.</em></h4>
          <a href="#menus" class="call-to-action btn-lg btn btn-action hidden-xs">Checkout Our Menus <i class="fa fa-arrow-right"></i></a>
          <a href="#menus" class="call-to-action btn-lg btn-block btn btn-action hidden-lg hidden-md hidden-sm">Checkout Our Menus <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<section class="content-section-b">
  <div class="container">
   <h1 class="text-center fancy-title">How <span>It Works</span></h1>
   <hr class="fancy-title-hr"/>
   <div class="what-we-do">
    <div class="col-sm-4">
      <h1>- 1 -</h1>
      <h3>Get together</h3>
      <p>Choose <strong>anything</strong> from our selection of awesome menus and order it.</p>
    </div>
    <div class="col-sm-4">
      <h1>- 2 -</h1>
      <h3>The Magic</h3>
      <p>Our <strong>chefs</strong> will chop, dice and perform their magic to make your group meal.</p>
    </div>
    <div class="col-sm-4">
      <h1>- 3 -</h1>
      <h3>Delivery</h3>
      <p>When its ready, a delivery of your meal will be made. <strong>Share and Enjoy</strong>.</p>
    </div>
  </div>
</div>
</section>
<section id="menus" class="content-section-a">
  <div class="container">
    <h1  class="text-center fancy-title">Here are <span>Our Menus</span></h1>
    <hr class="fancy-title-hr"/>
  </div>
</section>
<section class="content-section-b">
  <div class="container contact">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="title">Contact <span>Information</span></h1>
      <hr class="fancy-title-hr"/>
      <h3>Talk to us incase of any questions or requests.</h3>
      <p><strong><i class="fa fa-phone"></i> Phone</strong>: 0700 000 000</p>
      <p><strong><i class="fa fa-at"></i> Email</strong>: support@kitchenpass.co.ke</p>
      <h4 class="heading"><span>Hours</span><h4>
        <p><strong>Monday - Friday</strong>: 10am - 6pm</p>
        <p><strong>Saturday - Sunday</strong>: Best not to ask.</p>
      </div>
    </div>
  </section>
  {% endblock wrap_content %}

  {% block hr_border %}{% endblock hr_border %}
