{% extends 'base.html' %}

{% load staticfiles %}
{% load mezzanine_tags%}
{% load humanize %}

{% block meta_title %} Your Cart {% endblock meta_title %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>Shopping Cart</li>
{% endblock breadcrumb_menu %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
<div class="panel panel-default">
	<div class="panel-body">
			<h2 class="title text-center"><i class="fa fa-shopping-basket orange"></i> Your <span> Items</span></h2>
			<hr style="width:50%"/>
			{% if cart %}
			{% for item in cart %}
			{% with product=item.product %}
			<div class="row">
			<div class="col-xs-3">
					{% if product.image %}
					<a href="{{ product.get_absolute_url }}" title="{{ product.title }}">
						<img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail product.image 50 50 %}">
					</a>
					{% endif %}
				</div>
				<div class="col-xs-9">
					{{ product.title }}: {{ item.variation.title }}
				</div>
			</div>
			<table class="table table-striped">
			<tr>
				<td>Quantity</td>
				<td>
				<form action="{% url "cart:add" product.id %}" method="post">
					{{ item.update_quantity_form.quantity }}
					{{ item.update_quantity_form.update }}
					<input type="submit" value="Update" class="btn btn-info">
					{% csrf_token %}
				</form>
				</td>
			</tr>
			<tr>
				<td>Unit Price:</td><td> Ksh {{ item.unit_price | intcomma }}</td>
			</tr>
			<tr>
				<td>Price:</td><td>Ksh {{ item.total_price | intcomma }}</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<a href="{% url "cart:remove" item.variation.id %}"><span class="label label-danger">&times; Remove</span></a>
				</td>
			</tr>
			</table>

			{% if not forloop.last %}
			<hr class="list-seperator"/>
			{% endif %}
			{% endwith %}
			{% endfor %}
			<hr/>
			<h3 class="text-center">Total: <span class="green-color">Ksh</span> {{ cart.get_total_price | intcomma }}</h3>
		
		{% else %}
		<h3 class="text-center">Your shopping cart is empty</h3>
		<span class="hidden-sm hidden-md hidden-lg">
			<a href="{% url 'home' %}" class="btn btn-action btn-block btn-sm"><i class="fa fa-arrow-left"></i> Back to Home</a>
		</span>
		{% endif %}
		{% if cart %}
		<span class="pull-left">
			<a href="{% url 'home' %}" class="btn btn-action btn-sm"><i class="fa fa-arrow-left"></i> Back to Home</a>
		</span>
		<span class="pull-right">
			<a href="{% url "orders:create" %}" class="btn btn-success btn-sm">Checkout <i class="fa fa-arrow-right"></i></a>
		</span>
		{% endif %}
</div>
</div>
</div>
</div>
{% endblock content %}