{% load mezzanine_tags %}
{% load pages_tags %}
{% load static %}

{% for page in page_branch %}
{% if page.in_menu %}
{% with image=page.package.cover_image %}
<div class="col-sm-6">
	<div class="service-listing">
		<a href="{{ page.get_absolute_url }}">
			<img src="{{ MEDIA_URL }}{% thumbnail image 360 200 %}" class="img-responsive">
		</a>
		<h2>{{ page.title }}</h2>
		<p>{{ page.description | truncatewords:30 }}</p>
		<a href="{{ page.get_absolute_url }}" class="btn btn-action">See Menu</a>
	</div>
</div>
{% endwith %}
{% endif %}
{% endfor %}
