{% extends "base.html" %}

{% load mezzanine_tags %}
{% load humanize %}
{% load pages_tags %}
{% load staticfiles  %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block wrap_content %}
<div class="menu-intro-header" style="background-image: url('{{ page.package.cover_image.url }}')">
	<div class="dark-overlay">
		<div class="container">
			<div class="menu-intro-message">
				<div class="col-md-8 col-md-offset-2">
					<h1><i class="fa fa-star"></i> {{ page.title }} <i class="fa fa-star"></i></h1>
					<h3>{{  page.description }}</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<section>
	<div class="container">
		<div class="row">
			{% block breadcrumb %}
			<ul class="breadcrumb">
				{% spaceless %}
				{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
				{% endspaceless %}
			</ul>
			{% endblock breadcrumb %}
		</div>
	<div class="col-sm-10 col-sm-offset-1">
		<div class="row">
			{% for item in page.package.items.all %}
			{% with product=item.product %}
			{% include "shop/product/includes/list_item.html" %}
			{% endwith %}
			{% empty %}
			<h1 class="text-center"><em>Move along nothing to see here.</em></h1>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>
</div>
</section>
{% endblock wrap_content %}