 {% load static %}
 <footer id="footer" class="footer content-section-a">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                    <ul class="social margin-bottom-medium">
                        <li class="facebook hvr-pulse"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter hvr-pulse"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="instagram hvr-pulse"><a href="#"><i class="fa fa-instagram"></i></a></li>
                       
                    </ul>
                    <br/> 
                    <p class="copyright">
                        &copy; Copyright 2017 DelioFood. All Rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>